body {
  padding: 30px;
  background: linear-gradient(45deg, rgb(126, 15, 177), rgb(248, 51, 51));
}
.parent {
  background-color: white;
  width: 100%;
  height: 500px;
  /* height: auto; */
  display: flex;
  justify-content: center;
  /* flex-direction: column-reverse; */
  /* align-items: center; */
  gap: 5px;
  flex-wrap: wrap;
}
.child {
  width: 200px;
  height: 200px;
  background-color: red;
  /* margin: 5px; */
}
